/* html {
  scroll-behavior: smooth;
  speed: -2;
} */
*{
  margin: 0;
  padding: 0;
}
.bdy {
  font-family: "Fira Sans", sans-serif;
}


/*
=====================================================
Navigation Bar
=====================================================
*/
.nav_b {
  background: #ffffff;
  margin-top: 0;
}

.navbar .navbar-brand {
    margin-top: 0;
    padding: 0;
    position: relative;
    width: 170px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-brand img{
    max-height: 100%;
}

.navbar-nav .nav-item .nav-link {
  color: #558303;
  padding-left:30px;
  padding-right:30px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #ffffff ;
  background: #558303;
  border-radius: 8px;
  transition: all 0.5s;
}

.navbar-nav li:hover > .dropdown-menu {
  display: block;
}

.navbar-nav li:hover > .dropdown-menu .dropdown-item {
  font-size: 1.1em;
  font-weight: bold;
  color: #558303;
}

.navbar-nav li:hover > .dropdown-menu .dropdown-item:hover {
  color: #ffffff;
  background: #558303;
  background-size: contain;
}

.shrink {
   padding-top: 0;
   padding-bottom: 0;
   background: #6c8f32;
}

.shrink .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.shrink .navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #558303;
  background: #ffffff;
  border-radius: 8px;
  transition: all 0.5s;
}

.shrink .navbar-nav li:hover > .dropdown-menu {
  display: block;
  background: #558303;
  color: #ffffff;
}

.shrink .navbar-nav li:hover > .dropdown-menu .dropdown-item {
  font-size: 1.1em;
  font-weight: bold;
  color: #ffffff;
}

.shrink .navbar-nav li:hover > .dropdown-menu .dropdown-item:hover {
  color: #558303;
  background: #ffffff;
  background-size: contain;
}
/*
=====================================================
End of Navigation Bar
=====================================================
*/

/*
=============================================================
MAIN SECTION
=============================================================
 */

main .text-position{
  position: absolute;
  top: 50%;
  left: 9%;
  color: white;
  font-size: 6em;
  font-weight: bold;
}

/*
===============================================
ABOUT SECTION
===============================================
 */
#aboutus{
  position: relative;
  top: 2.5em;
  padding: 60px 0;
  height: 60vh;
  text-align: center;
}


#aboutus h1{
  position: relative;
  bottom: 1em;
  font-size: 2.5em;
  font-weight: bold;
  color: #558303;
}

#aboutus p{
  font-size: 1.5em;
}

.aboutus-left{
  padding: 20px 0 20px 0;
}
/*
===============================================================
END ABOUT SECTION
===============================================================
 */

/*
==============================================================
OBJECTIVES SECTION
==============================================================
 */
 #objectives{
  position: relative;
  top: 10em;
  height: 70vh;
  background: #6c8f32;
}

#objectives h1{
  position: relative;
  top: .9em;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
}
 /*
 ==============================================================
 END OBJECTIVES SECTION
 ==============================================================
*/

/*
==============================================================
LOCATION SECTION
==============================================================
 */
 #location{
  position: relative;
  top: 10em;
  height: 100vh;
  background: whitesmoke;
}

#location h1{
  position: relative;
  top: .9em;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #558303;
}
 /*
 ==============================================================
 END LOCATION SECTION
 ==============================================================
*/

/*
==============================================================
TEAM SECTION
==============================================================
 */
 #team{
  position: relative;
  top: 10em;
  height: 100vh;
}

#team h1{
  position: relative;
  top: .9em;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #558303;
}
 /*
 ==============================================================
 END TEAM SECTION
 ==============================================================
*/

/*
==============================================================
CONTACT SECTION
==============================================================
 */
 #contact{
  position: relative;
  top: 10em;
  height: 100vh;
}

#contact h1{
  position: relative;
  top: .9em;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #558303;
}
 /*
 ==============================================================
 END CONTACT SECTION
 ==============================================================
*/

/*
==============================================
FOOTER section
==============================================
 */
section {
padding: 60px 0;
position: relative;
top: 2em;
}

section .section-title {
text-align: center;
color: #007b5e;
margin-bottom: 50px;
text-transform: uppercase;
}


#footer {
  background: #356211 !important;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
  cursor: pointer;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}
/*
==============================================================================
END FOOTER section
==============================================================================
 */


/*
==============================================================================
MEDIA QUERIES
==============================================================================
 */
@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
